.back-header {
  position: relative;
  height: 48px;
  text-align: center;
  background-color: #239bf0;
  color: #f1f1f1;
  font-weight: 400;
  .back-container {
    position: absolute;
    width: 38px;
    height: 100%;
    top: 0;
    left: 0;
    i {
      line-height: 44px;
    }
  }
  .back-title {
    display: inline-block;
    line-height: 48px;
    width: 75%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    vertical-align: top;
    font-size: 1.15rem;
  }
}