.news-list-item {
  position: relative;
  overflow: hidden;
  padding: 8.5px 0 10px;
  margin: 0 17px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  .item-main {


    .item-image {
      font-size: 0;
      vertical-align: middle;
      width: 33.33%;
      text-align: center;
      overflow: hidden;
      float: left;
      margin-left: 0;
      background-color: #F4F7F9;
      position: relative;
      img {
        height: auto;
        width: 100%;
        vertical-align: middle;
      }
    }

    .item-text {
      overflow: hidden;
      -webkit-text-size-adjust: none;
      p {
        color: #333;
        overflow: hidden;
        font-size: 1.1rem;
        line-height: 1.6rem;
        max-height: 3.2rem;
      }

      .item-bottom {
        margin-top: 4px;
        margin-bottom: 1px;

        .item-time {
          line-height: 17px;
          height: 17px;

        }
      }
    }

    .item-image-container {
      margin: 2.5px 0 8px -1px;
      overflow: hidden;
      width: auto;
      display: -webkit-box;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-box-pack: justify;
      -webkit-box-align: stretch;
      -webkit-box-lines: single;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      -webkit-justify-content: space-between;
      -webkit-align-items: stretch;
      -webkit-align-content: flex-start;
      -webkit-flex-wrap: nowrap;

      .item-image-list {
        overflow: hidden;
        width: 33.33%;
        max-height: 111px;
        position: relative;
        -webkit-box-flex: 4;
        -webkit-flex: 4 4 auto;
        box-sizing: border-box;
        margin-left: 1px;

        .item-image-list-wrapper {
          width: 100%;
          text-align: right;
          img {
            width: 100%;
            height: auto;
            display: block;
            max-height: 200px;
          }
        }
      }
    }

  }

  .show {
     display: flex;
     display: -webkit-box;
     -webkit-box-align: center;
     padding-bottom: 3px;
     padding-top: 5.5px;
     .item-text {
       width: 66.66%;
       padding-left: 14px;
       flex: 2;
       box-sizing: border-box;
     }
   }

  .tip-time {
      display: block;
      color: #999;
      margin-right: 5px;
      font-weight: 400;
      float: left;
      font-size: .8rem;
  }
  .tip-hot {
    border: 1px solid #efb9b9;
    color: #ef3f41;
    text-align: center;
    font-weight: 400;
    border-radius: 2px;
    max-width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    float: left;
    height: 15px;
    line-height: 15px;
    padding: 1px;
    padding-bottom: 0;
    font-size: 9px;
    vertical-align: middle;
    box-sizing: content-box;
  }
}

.news-list-item::after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: -100%;
  right: 0;
  border-bottom: 1px solid #eaeaea;
  transform: scale(0.333);
  -webkit-transform: scale(0.333);
  width: 300%;
}