.profile-nav-item {
  border-bottom: 1px solid #f6f6f6;
  padding: 15px 0;
  color: #797979;
  height:1.65rem;
  i:first-child{
    display: inline-block;
    width: 20px;
    vertical-align: middle;
    margin-right: 7px;
  }
  span {
    vertical-align: middle;

  }
  .profile-btn {
    float: right;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border: 2px solid #cacaca;
    border-radius: 3px;
    margin-top: 5px;
    position: relative;
    i {
      position: absolute;
      font-size: 15px;
      line-height: 15px;
      left: 0;
      top: 0;
      font-weight: 100;
      margin-top: -3px;
      color: #394551;
    }
  }
}

.notice-btn-container{
  margin: 14px 0 5px;
  .notice-btn-border {
    width: 185px;
    margin: 0 auto;
    border: 1px solid #394551;
    padding: 2px;
    height: 30px;
    border-radius: 18px;
    span {
      width: 72px;
      border-radius: 15px;
      line-height: 30px;
      padding: 0 10px;
      font-size: 14px;
      color: #394551;
      float: left;
      text-align: center;
    }
    .selected {
      background-color: #394551;
      color: #fff;
    }
  }
}

.item-nothing {
  line-height: 50px;
  font-size: 16px;
  text-align: center;
}
.notice-container {
  .item {
    padding: 14px 18px 10px 18px;
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
  
    .head-container{
      width: 35px;
      .head {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
  
      }
      img {
        width: 100%;
      }
    }
  
    .comment-content {
      margin-left: 43px;
  
      .info {
        text-align: left;
        margin-bottom: 6px;
        height: 16px;
        span {
          font-size: 1rem;
          color: #333;
          line-height: 1;
        }
        .reply {
          color: #999;
          text-align: right;
  
          .praise,.reply-btn {
            line-height: 1rem;
            font-size: 0.8rem;
          }
          .reply-btn {
            display: inline-block;
            padding: 0 3px;
          }
        }
      }
  
      .time {
        font-size: 0.85rem;
        color: #999;
        line-height: 1;
      }
  
      .content {
        margin-top: 7.5px;
        line-height: 1.5;
        font-size: 1.1rem;
        color: #333;
      }
  
      .reply-container {
        .reply-content {
          position: relative;
          margin-bottom: 10px;
          line-height: 20px;
          font-size: 16px;
          color: #b8bac0;
          textarea {
            width: 100%;
            height: 66px;
            border: 1px solid #f6f6f6;
            padding: 6px;
            overflow: auto;
            color: #262b31;
            font-size: 16px;
            resize: none;
            border-radius: 2px;
            -webkit-box-sizing: border-box;
            -webkit-appearance: none;
          }
        }
  
        .status {
          position: relative;
          height: 30px;
          margin-bottom: 10px;
          .sent {
            position: absolute;
            right: 0;
            line-height: 30px;
            padding: 0 14px;
            background-color: #394551;
            font-size: 16px;
            color: #fafafa;
          }
        }
      }
    }
  }
}
